@font-face {
    font-family: 'Abraham';
    src: url('font/Abraham-Regular.ttf');
}

body{
    font-family: 'Abraham';
}


h1{
    text-align: center;
}

#setup{
    max-width:600px;
    border:1px solid gray;
    margin:40px auto;
    padding:30px;
}
#board{
    max-width:600px;
    margin:40px auto;
    border:1px solid gray;
    padding:10px;
    display: none;
}

.question{
    margin:20px 0;
    font-size:25px;
    font-weight: bold;
}

.answer{
    font-size:24px;
    padding:8px;
    margin:8px 0;
    border:1px solid #007BFF;
    cursor: pointer;
    background-color: #F0F8FF;
}

.answer.correct{
    border:1px solid green;
    background-color: #0080004f;
}

/* .answer.correct:hover{
    border:1px solid green;
    background-color: #0080004f;
} */

.answer.wrong{
    border:1px solid red;
    background-color: #ff00003b;
}

/* .answer.wrong:hover{
    border:1px solid red;
    background-color: #ff00003b;
} */
/* .answer:hover{
    background-color: rgb(193, 220, 236);
} */


.answer i{
    float:left;
    display: none;
    position:relative;
    top:3px;
}

.fa-circle-xmark{
    color:red;
}

.fa-circle-check{
    color:green;
}

#next{
    display: none;
}

#next, #check{
    background-color: darkslategray;
    color: white;
    border: 0;
    font-size: 24px;
    padding: 6px 22px;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;

}