@font-face {
    font-family: 'Abraham';
    src: url('font/Abraham-Regular.ttf');
}

body{
    font-family: 'Abraham';
}


h1{
    text-align: center;
}

#setup{
    max-width:600px;
    border:1px solid gray;
    margin:40px auto;
    padding:30px;
}
#board{
    max-width:600px;
    margin:40px auto;
    border:1px solid gray;
    padding:10px;
    display: none;
}

.question{
    margin:20px 0;
    font-size:25px;
    font-weight: bold;
}

.answer{
    font-size:24px;
    padding:8px;
    margin:8px 0;
    border:1px solid #007BFF;
    cursor: pointer;
    background-color: #F0F8FF;
}

.answer:hover{
    background-color: rgb(193, 220, 236);

}